/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

*/

@import "susyone";
@import "compass";

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 2em;
$grid-padding   : $gutter-width;
$base-font-size: 10px;

body {
	font-size: 62.5%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.mod {
	width: 100%;
	position: relative;
}

.mod__inner {
	@include container;
	//@include susy-grid-background;
	position: relative;
}

.main-header {
	background: #231f20;
	height: 30px;
	@include at-breakpoint(64em) {
		height: 70px;
	}
}

.main-header__inner {
	h1 {
		margin: 0;
		line-height: 30px;
		float: left;
		color: white;
		text-transform: uppercase;
		@include at-breakpoint(64em) {
			line-height: 70px;
		}
	}
	.main-title {
		background: image-url('assets/dumpster-logo-sm.png') no-repeat;
		width: image-width('assets/dumpster-logo-sm.png')/2;
		height: image-height('assets/dumpster-logo-sm.png')/2;
		background-size: 100%;
		text-indent: -9999px;
		margin-top: 8px;
		@include at-breakpoint(64em) {
			background: image-url('assets/dumpster-logo-sm-2x.png') no-repeat;
			width: image-width('assets/dumpster-logo-sm-2x.png')/2;
			height: image-height('assets/dumpster-logo-sm-2x.png')/2;
			background-size: 100%;
			margin-top: 20px;
		}
	}
	.external {
		float: right;
		color: #666;
		line-height: 30px;
		font-size: 1.2em;
		font-weight: 600;
		cursor: pointer;
		@include at-breakpoint(64em) {
			line-height: 70px;
			font-size: 16px;
		}
	}
}

.main {
	border-bottom: 5px solid #231f20;
	@include at-breakpoint(64em) {
		border-bottom: 10px solid #231f20;
	}
}

.main__inner {
	padding-bottom: 120px;
	@include at-breakpoint(64em) {
		padding-bottom: 240px;
	}
}

.main-logo {
	background: image-url('assets/dumpster-logo-lg.png') no-repeat;
	width: image-width('assets/dumpster-logo-lg.png')/2;
	height: image-height('assets/dumpster-logo-lg.png')/2;
	background-size: 100%;
	text-indent: -9999px;
	margin: 20px auto;
	@include at-breakpoint(64em) {
		background: image-url('assets/dumpster-logo-lg-2x.png') no-repeat;
		width: image-width('assets/dumpster-logo-lg-2x.png')/2;
		height: image-height('assets/dumpster-logo-lg-2x.png')/2;
		background-size: 100%;
		margin: 40px auto;
	}
}

.search-btn {
	background: image-url('assets/search-btn.png') no-repeat;
	width: image-width('assets/search-btn.png')/2;
	height: image-height('assets/search-btn.png')/2;
	background-size: 100%;
	text-indent: -9999px;
	display: block;
	margin: 0 auto;
	position: relative;
	left: 84px;
	@include at-breakpoint(64em) {
		background: image-url('assets/search-btn-2x.png') no-repeat;
		width: image-width('assets/search-btn-2x.png')/2;
		height: image-height('assets/search-btn-2x.png')/2;
		background-size: 100%;
		left: 184px;
	}
}

.frank-logo {
	background: image-url('assets/frank_logo_half.png') no-repeat;
	width: image-width('assets/frank_logo_half.png');
	height: image-height('assets/frank_logo_half.png');
	text-indent: -9999px;
	display: block;
	margin: 30px auto;
}

.homepage-bg {
	width: 320px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: -1;
	margin-left: -160px;
	@include at-breakpoint(64em) {
		width: 640px;
		margin-left: -320px;
	}
}

.main-footer {
	ol {
		padding-left: 25px;
		@include at-breakpoint(64em) {
			padding-left: 50px;
		}
		li {
			margin: 16px 0;
			font-size: 1.4em;
			@include at-breakpoint(64em) {
				font-size: 2.8em;
				margin: 32px 0;
			}
			a {
				color: #666666;
			}
		}
	}
}

/* Search Page */
/***************/
.search {

}

.search__inner {
	padding-bottom: 160px;
	@include at-breakpoint(64em) {
		padding-bottom: 320px;
	}
}

.tap-to {
	background: image-url('assets/enter-pin.png') no-repeat;
	width: image-width('assets/enter-pin.png')/2;
	height: image-height('assets/enter-pin.png')/2;
	background-size: 100%;
	text-indent: -9999px;
	margin: 24px auto 0;
	position: relative;
	left: -60px;
	@include at-breakpoint(64em) {
		background: image-url('assets/enter-pin-2x.png') no-repeat;
		width: image-width('assets/enter-pin-2x.png')/2;
		height: image-height('assets/enter-pin-2x.png')/2;
		background-size: 100%;
		margin: 48px auto 0;
	}
}

.idNum {
	-webkit-appearance: none !important;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #959595;
	width: 278px;
	display: block;
	margin: 0 auto;
	font-size: 168px;
	font-weight: 700;
	font-family:'Trade Gothic W01';
	font-weight: 700;
	height: 180px;
	margin-top: -25px;
	padding: 0;
	letter-spacing: -5px;
	@include at-breakpoint(64em) {
		width: 600px;
		font-size: 336px;
		height: 360px;
		margin-top: -50px;
		border-bottom: 4px solid #bcbec0;
	}
}

.enter-btn {
	text-indent: -9999px;
	-webkit-appearance: none !important;
	border-radius: 0;
	background: image-url('assets/enter-btn.png') no-repeat;
	width: image-width('assets/enter-btn.png')/2;
	height: image-height('assets/enter-btn.png')/2;
	background-size: 100%;
	display: block;
	border: 0;
	margin: 15px auto;
	position: relative;
	left: 103px;
	@include at-breakpoint(64em) {
		background: image-url('assets/enter-btn-2x.png') no-repeat;
		width: image-width('assets/enter-btn-2x.png')/2;
		height: image-height('assets/enter-btn-2x.png')/2;
		background-size: 100%;
		margin: 30px auto;
		left: 244px;
	}
}

.search-bg {
	width: 320px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: -1;
	margin-left: -160px;
	@include at-breakpoint(64em) {
		width: 640px;
		margin-left: -320px;
	}
}


/* Item Page */
/*************/
.item-img {
	border-bottom: 5px solid #231f20;
	@include at-breakpoint(64em) {
		border-bottom: 10px solid #231f20;
	}
}

.item-copy {
	padding-bottom: 30px;
	@include at-breakpoint(64em) {
		padding-bottom: 60px;
	}
	h4 {
		margin: 0;
		padding-top: 20px;
		color: #231f20;
		font-size: 2.4em;
		text-transform: uppercase;
		line-height: 1;
		font-family:'Trade Gothic W01';
		font-weight: 700;
		@include at-breakpoint(64em) {
			padding-top: 20px;
			font-size: 4.8em;
		}
	}
	h5 {
		margin: 0;
		color: #231f20;
		font-size: 1.6em;
		font-family:'Trade Gothic W01';
		font-weight: 700;
		@include at-breakpoint(64em) {
			font-size: 3.2em;
		}
	}
	p {
		color: #666;
		font-size: 1.8em;
		line-height: 1.5;
		font-family: 'Times New Roman', 'serif';
		@include at-breakpoint(64em) {
			font-size: 2.8em;
		}
	}
}

.item-img {
	img {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
}

.back-btn {
	background: image-url('assets/back-arrow.png') no-repeat center center;
	width: image-width('assets/back-arrow.png')/2;
	height: image-height('assets/back-arrow.png')/2;
	background-size: 100%;
	position: absolute;
	top: -1px;
	left: -1px;
	display: block;
	@include at-breakpoint(64em) {
		background: image-url('assets/back-arrow-2x.png') no-repeat center center;
		width: image-width('assets/back-arrow-2x.png')/2;
		height: image-height('assets/back-arrow-2x.png')/2;
		background-size: 100%;
			top: -2px;
			left: -2px;
	}
}

/* Mailchimp */
#mc_embed_signup{background:#fff; clear:left; }

.sign-up-header {
	background: #231f20;
	padding: 15px 20px;
}

#mc_embed_signup h2 {
	font-size: 18px;
	margin: 0;
	background: #231f20;
	color: white;
	font-family:'Trade Gothic W01';
	float: left;
}

.js-close {
	font-size: 18px;
	margin: 0;
	color: white;
	font-family:'Trade Gothic W01';
	float: right;
	cursor: pointer;
}

#mc_embed_signup form {
	padding: 0px 20px 20px;
}

#mc_embed_signup .mc-field-group {
	width: 100%;
	padding-bottom: 15px;
}

#mc_embed_signup .indicates-required {
	padding-top: 10px;
	margin-right: 0px;
}

#mc_embed_signup .mc-field-group label {
	font-size: 12px;
	font-weight: bold;
}

#mc_embed_signup .mc-field-group input {
	font-size: 14px;
}

#mc_embed_signup .button {
	background: #231f20;
	font-family:'Trade Gothic W01';
	font-weight: bold;
	border-radius: 0;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	margin-top: 5px;
}

/* Overlay */
#js-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	display: none;
}

#js-signup-modal {
	position: absolute;
	z-index: 2;
	top: -400px;
	left: 0;
	width: 100%;
	max-width: 500px;
	background: white;
	@include transition(top .5s ease);
}

.modal-open {
	#js-overlay {
		display: block;
	}
	#js-signup-modal {
		top: 0;
	}
}