@import "susy";

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 2em;
$grid-padding   : $gutter-width;
$base-font-size: 10px;


.mod {
	width: 100%;
	position: relative;
}

.mod__inner {
	@include container;
	@include susy-grid-background;
}