- content_for(:title, 'The Dumpster Project | 404 Not Found')
- content_for(:description, '404 Not Found')

.mod.item-copy
    .mod__inner.item-copy__inner
        %h4 
            404 - Page Not Found