- content_for(:title, 'The Dumpster Project')
- content_for(:description, 'I have archived much of my life through collected objects.')

.mod.main
	.mod__inner.main__inner
		%h2.main-logo The Dumpster Project
		%a.search-btn{:href => '/search'} Search
		%img{:src => '/img/assets/homepage-bg.jpg', :class => 'homepage-bg'}

.mod.main-footer
	.mod__inner.main-footer__inner
		%ol
			%li 
				I have archived much of my life through collected objects.
			%li 
				I have moved to a smaller studio, making it necessary that I get rid of a lot of these objects.
			%li 
				I have done so by using them as the raw material for one huge collage environment, built inside a 30-yard dumpster.
			%li 
				Oh, I also photographed over 450 of these objects. Every day I post one, accompanied by a brief history of each item, here: 
				%a{:href => 'http://thedumpsterproject.com'}www.thedumpsterproject.com
		%a.frank-logo{:href => 'http://frankcollective.com'}frank logo here