- content_for(:title, 'The Dumpster Project | ' + items.header)
- content_for(:description, items.desc)

.mod.item-img
	.mod__inner
		%a.back-btn{:href => '/search' }
	%img{:src => "/img/#{items.image_file_name}" }

.mod.item-copy
	.mod__inner.item-copy__inner
		%h4 
			= items.header
		%h5 
			= items.dim
		%p
			= items.desc