.mod.search
	.mod__inner.search__inner
		%h3 Tap to enter pin #
		%form{:id => 'js-search'}
			%input{:type => 'text', :name => 'idNum', :class => 'idNum'}
			%input{:type => 'submit', :value => 'Enter', :name => 'enter'}

