.mod.search
	.mod__inner.search__inner
		%h3.tap-to Tap to enter pin #
		%form{:id => 'js-search'}
			%input{:type => 'text', :name => 'idNum', :class => 'idNum', :placeholder => '321', :pattern => '\d*'}
			%input{:type => 'submit', :value => 'Enter', :name => 'enter', :class => 'enter-btn'}
		%img{:src => '/img/assets/search-bg.jpg', :class => 'search-bg'}

